# Database
DATABASE_URL=postgresql://user:password@localhost:5432/wb_web_app
DB_HOST=localhost
DB_PORT=5432
DB_NAME=wb_web_app
DB_USER=user
DB_PASSWORD=password

# World Bank API
WB_API_BASE_URL=https://api.worldbank.org/v2

# App
APP_ENV=development
APP_PORT=8000
APP_DEBUG=true

# Frontend
FRONTEND_PORT=3000
